src/main/mule/implementation/darwinbox-data-orchestration-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="scheduler-darwinbox-attrition-orchestration-flow" doc:id="cca71a5e-0443-48f8-a6f5-a19509b458dc">
		<scheduler doc:name="Job run every one hour" doc:id="be0ae732-27c3-43f1-bfaf-b9717e68f227">
			<scheduling-strategy>
				<cron expression="${scheduler.frequency}" timeZone="${scheduler.timezone}"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Start Main Log" doc:id="c01b658c-49f5-440e-840f-1964b136fadf" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-attrition-orchestration-flow started",
	"tracePoint": "START",
	"timestamp": now()
}]'/>
		<ee:transform doc:name="Darwinbox-Attrition HTTP Details" doc:id="37a66dc8-e85f-479f-a472-8e6982ff5804">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="httpDetails"><![CDATA[%dw 2.0
output application/json
---
{
    "host"        : Mule::p('darwinbox-attrition.host'),
    "port"        : Mule::p('darwinbox-attrition.port'),
    "basePath"    : Mule::p('darwinbox-attrition.basePath'),
    "path"        : Mule::p('darwinbox-attrition.path'),
    "method"      : Mule::p('darwinbox-attrition.method'),
    "clientId"    : Mule::p('darwinbox-attrition.clientId'),
    "clientSecret": Mule::p('secure::darwinbox-attrition.clientSecret'),
    "body"        : {
        "api_key"   : Mule::p('darwinbox-attrition.api_key'),
        "datasetKey": Mule::p('darwinbox-attrition.datasetKey')
    }
}]]></ee:set-variable>
				<ee:set-variable variableName="reportName"><![CDATA["attrition"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="common-http-request-flow" doc:id="9eae3ac5-1421-46b9-8e0b-5ffd29c98e33" name="common-http-request-flow"/>
		<logger level="INFO" doc:name="After Darwinbox Response Log" doc:id="e7100823-e343-4f3c-be2b-a66c543fac80" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-attrition-orchestration-flow",
	"tracePoint": "AFTER SYS API REQUEST",
	"contentSize": sizeOf(payload) default 0
}]'/>

		<!-- Filter: extract employee_data array only -->
		<ee:transform doc:name="Filter Attrition Response" doc:id="c29bff38-334f-43f8-a84b-9beb283d4d71">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (payload.employee_data? and !isEmpty(payload.employee_data))
    payload.employee_data map (employee, index) -> {
        (employee - "employee_separation_comments"),
        "employee_separation_comments": if (employee.employee_separation_comments? and !isEmpty(employee.employee_separation_comments))
            employee.employee_separation_comments replace /\n/ with " "
else
    employee.employee_separation_comments
    }
else
    []
   
]]></ee:set-payload>
			</ee:message>
		</ee:transform>

		<choice doc:name="Check if Attrition Data Exists" doc:id="912f9407-c623-4dd9-93ad-3b63b12d91ae">
			<when expression="#[!isEmpty(payload)]">
				<ee:transform doc:name="Databricks Attrition HTTP Details" doc:id="907e98cd-988d-4ab0-96f9-002f37004ece">
					<ee:message/>
					<ee:variables>
						<ee:set-variable variableName="httpDetails"><![CDATA[%dw 2.0
output application/json
---
{
	"host"        : Mule::p('databricks.host'),
	"port"        : Mule::p('databricks.port'),
	"basePath"    : Mule::p('databricks.basePath'),
	"path"        : Mule::p('databricks.path'),
	"method"      : Mule::p('databricks.method'),
	"clientId"    : Mule::p('databricks.clientId'),
	"clientSecret": Mule::p('secure::databricks.clientSecret')
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Before Databricks Upload Log" doc:id="782ee614-b77a-4226-bc0e-9bd5c88df541" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-attrition-orchestration-flow",
	"tracePoint": "BEFORE DATALAKE SYS API REQUEST",
	"contentSize": sizeOf(payload) default 0
}]'/>
				<flow-ref doc:name="common-http-request-flow" doc:id="e834b516-1852-4f66-8552-6b10da70d2c8" name="common-http-request-flow"/>
				<logger level="INFO" doc:name="End Main Log" doc:id="9a20c4c1-cf99-4e37-8791-d7322d03758c" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-attrition-orchestration-flow End",
	"status": "Processed successfully..",
	"tracePoint": "END",
	"timestamp": now()
}]'/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Log No Data Found" doc:id="df7b3493-7f5f-4f9f-b475-02fc554bac0d" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-attrition-orchestration-flow End",
	"status": "No Data",
	"tracePoint": "END",
	"timestamp": now()
}]'/>
			</otherwise>
		</choice>
		<error-handler ref="global-error-handler"/>
	</flow>

	<!-- ==================== MASTER API EMPLOYEE FLOW ==================== -->
	<flow name="scheduler-darwinbox-masterEmployee-orchestration-flow" doc:id="01191418-6e63-492c-8e89-7aabe9781389">
		<scheduler doc:name="Job run every one hour" doc:id="2dd9eae1-7bc4-4671-94a8-c8c907a4e1f6">
			<scheduling-strategy>
				<cron expression="${scheduler.frequency}" timeZone="${scheduler.timezone}"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Start Main Log" doc:id="2c01a578-0373-4ae0-a604-8eb4ade21adc" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-employee-orchestration-flow started",
	"tracePoint": "START",
	"timestamp": now()
}]'/>
		<ee:transform doc:name="Darwinbox-Employee HTTP Details" doc:id="1e9e4ad4-c17d-46a2-a314-9bb3cd5bbcfb">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="httpDetails"><![CDATA[%dw 2.0
output application/json
---
{
	"host"        : Mule::p('darwinbox-masteremployee.host'),
	"port"        : Mule::p('darwinbox-masteremployee.port'),
	"basePath"    : Mule::p('darwinbox-masteremployee.basePath'),
	"path"        : Mule::p('darwinbox-masteremployee.path'),
	"method"      : Mule::p('darwinbox-masteremployee.method'),
	"clientId"    : Mule::p('darwinbox-masteremployee.clientId'),
	"clientSecret": Mule::p('secure::darwinbox-masteremployee.clientSecret'),
	"body"		  : 
	{	
	"api_key"     : Mule::p('darwinbox-masteremployee.api_key'),
	"datasetKey"  : Mule::p('darwinbox-masteremployee.datasetKey')
	}
	
	
}]]></ee:set-variable>
				<ee:set-variable variableName="reportName"><![CDATA["masteremployee"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="common-http-request-flow" doc:id="861433f6-5c75-4d87-931e-af2e5271eb09" name="common-http-request-flow"/>
		<logger level="INFO" doc:name="After Darwinbox Response Log" doc:id="c289bbd5-0fad-4a14-b010-ae399d2c2a64" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-employee-orchestration-flow",
	"tracePoint": "AFTER SYS API REQUEST",
	"contentSize": sizeOf(payload) default 0
}]'/>

		<!-- Filter: extract employee_data array only -->
		<ee:transform doc:name="Filter Employee Response" doc:id="d69b43cf-edea-48d5-981f-195bea4343a4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (payload.employee_data? and !isEmpty(payload.employee_data))
    payload.employee_data map (emp) ->
        emp mapObject (value, key) -> {
            (key) :
                if (typeOf(value) == Array)
                    (value map (item) ->
                        if (typeOf(item) == Object)
                            (item pluck (v) ->
                                v as String default ""
                            ) joinBy " | "
                        else
                            item as String default ""
                    ) joinBy " || "
                else if (typeOf(value) == Object)
                    write(value, "application/json")
                else
                    value default ""
        }
else
    []]]></ee:set-payload>
			</ee:message>
		</ee:transform>

		<choice doc:name="Check if Employee Data Exists" doc:id="090134af-5fa6-45eb-9148-18f86f34ff26">
			<when expression="#[!isEmpty(payload)]">
				<ee:transform doc:name="Databricks Employee HTTP Details" doc:id="3d06bbe6-9cb9-4104-afa3-9d0abe39dea5">
					<ee:message/>
					<ee:variables>
						<ee:set-variable variableName="httpDetails"><![CDATA[%dw 2.0
output application/json
---
{
	"host"        : Mule::p('databricks.host'),
	"port"        : Mule::p('databricks.port'),
	"basePath"    : Mule::p('databricks.basePath'),
	"path"        : Mule::p('databricks.path'),
	"method"      : Mule::p('databricks.method'),
	"clientId"    : Mule::p('databricks.clientId'),
	"clientSecret": Mule::p('secure::databricks.clientSecret')
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Before Databricks Upload Log" doc:id="64cb7f92-2ad1-4900-b7ef-ad18476d9fea" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-employee-orchestration-flow",
	"tracePoint": "BEFORE DATALAKE SYS API REQUEST",
	"contentSize": sizeOf(payload) default 0
}]'/>
				<flow-ref doc:name="common-http-request-flow" doc:id="eeaf9806-73f6-4926-b0f1-1dd2262dd1a5" name="common-http-request-flow"/>
				<logger level="INFO" doc:name="End Main Log" doc:id="717d4e69-c862-42b2-86a0-96178972f981" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-employee-orchestration-flow End",
	"status": "Processed successfully..",
	"tracePoint": "END",
	"timestamp": now()
}]'/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Log No Data Found" doc:id="b326772c-8fc3-414c-8155-1aa87c34319f" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-employee-orchestration-flow End",
	"status": "No Data",
	"tracePoint": "END",
	"timestamp": now()
}]'/>
			</otherwise>
		</choice>
		<error-handler ref="global-error-handler"/>
	</flow>

	<!-- ==================== JOB LEVEL FLOW ==================== -->
	<flow name="scheduler-darwinbox-joblevel-orchestration-flow" doc:id="f3720b86-6cc2-482f-bce8-68da07766298">
		<scheduler doc:name="Job run every one hour" doc:id="9fe10e84-ca01-4326-bc54-feff2dd986c4">
			<scheduling-strategy>
				<cron expression="${scheduler.frequency}" timeZone="${scheduler.timezone}"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Start Main Log" doc:id="98c13d3b-1aba-48c3-853c-791c1f4631f0" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-joblevel-orchestration-flow started",
	"tracePoint": "START",
	"timestamp": now()
}]'/>
		<ee:transform doc:name="Darwinbox-Job Level HTTP Details" doc:id="3df2a06c-6048-4998-9d18-477ef91a686a">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="httpDetails"><![CDATA[%dw 2.0
output application/json
---
{
	"host"        : Mule::p('darwinbox-joblevel.host'),
	"port"        : Mule::p('darwinbox-joblevel.port'),
	"basePath"    : Mule::p('darwinbox-joblevel.basePath'),
	"path"        : Mule::p('darwinbox-joblevel.path'),
	"method"      : Mule::p('darwinbox-joblevel.method'),
	"clientId"    : Mule::p('darwinbox-joblevel.clientId'),
	"clientSecret": Mule::p('secure::darwinbox-joblevel.clientSecret'),
	"body"		  : {	
	"api_key"	  : Mule::p('darwinbox-joblevel.api_key')
	
	}
}]]></ee:set-variable>
				<ee:set-variable variableName="reportName"><![CDATA["jobLevel"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="common-http-request-flow" doc:id="21544400-646e-41f7-8dbc-747b724a17d9" name="common-http-request-flow"/>
		<logger level="INFO" doc:name="After Darwinbox Response Log" doc:id="66f1173b-9272-4a7a-9fd4-c22e485d4071" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-joblevel-orchestration-flow",
	"tracePoint": "AFTER SYS API REQUEST",
	"contentSize": sizeOf(payload) default 0
}]'/>

		<!-- Filter: zip cols + output arrays into array of JSON objects -->
		<!-- FIX: Use keysOf + proper array index mapping instead of indexOf to avoid DW parse errors -->
		<ee:transform doc:name="Filter JobLevel Response" doc:id="8978332d-d79b-4f31-afc8-bc3b2ad15b4b">
			<ee:message>
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
do {
    var cols = payload.cols default []
    var rows = payload.'output' default []
    ---
    if (!isEmpty(cols) and !isEmpty(rows))
        rows map (row) ->
            cols zip row reduce ((pair, acc = {} as Object) ->
                acc ++ { (pair[0]) : pair[1] default null }
            )
    else
        []
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>

		<choice doc:name="Check if JobLevel Data Exists" doc:id="b0c316c2-01af-4f7d-931b-cc5ccdec5211">
			<when expression="#[!isEmpty(payload)]">
				<ee:transform doc:name="Databricks JobLevel HTTP Details" doc:id="4017a565-201e-4c81-bdf3-66f88ceb2ba3">
					<ee:message/>
					<ee:variables>
						<ee:set-variable variableName="httpDetails"><![CDATA[%dw 2.0
output application/json
---
{
	"host"        : Mule::p('databricks.host'),
	"port"        : Mule::p('databricks.port'),
	"basePath"    : Mule::p('databricks.basePath'),
	"path"        : Mule::p('databricks.path'),
	"method"      : Mule::p('databricks.method'),
	"clientId"    : Mule::p('databricks.clientId'),
	"clientSecret": Mule::p('secure::databricks.clientSecret')
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Before Databricks Upload Log" doc:id="65fdae49-361c-4041-8d11-8d4d3411433a" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-joblevel-orchestration-flow",
	"tracePoint": "BEFORE DATALAKE SYS API REQUEST",
	"contentSize": sizeOf(payload) default 0
}]'/>
				<flow-ref doc:name="common-http-request-flow" doc:id="da12a0b9-1026-4e73-92a0-8e6bedeb8c19" name="common-http-request-flow"/>
				<logger level="INFO" doc:name="End Main Log" doc:id="ab14befd-e353-4d93-8f59-65865586b5b2" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-joblevel-orchestration-flow End",
	"status": "Processed successfully..",
	"tracePoint": "END",
	"timestamp": now()
}]'/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Log No Data Found" doc:id="384b8ff3-6eaa-4e41-9b0e-4761e776ebc2" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-joblevel-orchestration-flow End",
	"status": "No Data",
	"tracePoint": "END",
	"timestamp": now()
}]'/>
			</otherwise>
		</choice>
		<error-handler ref="global-error-handler"/>
	</flow>

	<!-- ==================== LEARNING PROGRAM FLOW ==================== -->
	<flow name="scheduler-darwinbox-learningprogram-orchestration-flow" doc:id="06a242fb-b7aa-40c9-90ea-f1e27fb00d36">
		<scheduler doc:name="Job run every one hour" doc:id="fbeebd1b-01c1-41ef-b8cf-5f69ee1a8b68">
			<scheduling-strategy>
				<cron expression="${scheduler.frequency}" timeZone="${scheduler.timezone}"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Start Main Log" doc:id="2ecdf465-696a-4fa8-9c66-b5bba70a9e69" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-learningprogram-orchestration-flow started",
	"tracePoint": "START",
	"timestamp": now()
}]'/>
		<ee:transform doc:name="Darwinbox-Learning Program HTTP Details" doc:id="42d5bf54-6e76-49af-ba5c-77e77a3ede30">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="httpDetails"><![CDATA[%dw 2.0
output application/json
---
{
	"host"        : Mule::p('darwinbox-learningprogram.host'),
	"port"        : Mule::p('darwinbox-learningprogram.port'),
	"basePath"    : Mule::p('darwinbox-learningprogram.basePath'),
	"path"        : Mule::p('darwinbox-learningprogram.path'),
	"method"      : Mule::p('darwinbox-learningprogram.method'),
	"clientId"    : Mule::p('darwinbox-learningprogram.clientId'),
	"clientSecret": Mule::p('secure::darwinbox-learningprogram.clientSecret'),
	"body"		  : {
	
	"api_key"	  : Mule::p('darwinbox-learningprogram.api_key'),
	"section"	  : Mule::p('darwinbox-learningprogram.section'),
	"datasetKey"  : Mule::p('darwinbox-learningprogram.datasetKey'),
	"status"      : Mule::p('darwinbox-learningprogram.status') as Number
	
	}
}]]></ee:set-variable>
				<ee:set-variable variableName="reportName"><![CDATA["learningProgram"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="common-http-request-flow" doc:id="23fa28f4-8e5d-4b51-9017-2550f934f6ad" name="common-http-request-flow"/>
		<logger level="INFO" doc:name="After Darwinbox Response Log" doc:id="1687ddf0-f477-4db0-affa-51c45355efc0" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-learningprogram-orchestration-flow",
	"tracePoint": "AFTER SYS API REQUEST",
	"contentSize": sizeOf(payload) default 0
}]'/>

		<!-- Filter: zip cols + output arrays into array of JSON objects -->
		<!-- FIX: Use do block with var bindings to avoid DataWeave parse errors -->
		<ee:transform doc:name="Filter LearningProgram Response" doc:id="32b946dc-6358-4e7a-80cb-cf96983ab4c6">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
do {
    var cols = payload.cols default []
    var rows = payload.'output' default []
    ---
    if (!isEmpty(cols) and !isEmpty(rows))
        rows map (row) ->
            cols zip row reduce ((pair, acc = {} as Object) ->
                acc ++ { (pair[0]) : pair[1] default null }
            )
    else
        []
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>

		<choice doc:name="Check if LearningProgram Data Exists" doc:id="ccc79f05-3f2f-4944-8e97-278976ee9ba1">
			<when expression="#[!isEmpty(payload)]">
				<ee:transform doc:name="Databricks LearningProgram HTTP Details" doc:id="2a419c60-042d-4fef-8a82-091500d15e1c">
					<ee:message/>
					<ee:variables>
						<ee:set-variable variableName="httpDetails"><![CDATA[%dw 2.0
output application/json
---
{
	"host"        : Mule::p('databricks.host'),
	"port"        : Mule::p('databricks.port'),
	"basePath"    : Mule::p('databricks.basePath'),
	"path"        : Mule::p('databricks.path'),
	"method"      : Mule::p('databricks.method'),
	"clientId"    : Mule::p('databricks.clientId'),
	"clientSecret": Mule::p('secure::databricks.clientSecret')
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Before Databricks Upload Log" doc:id="093cfdc6-57c9-46e6-9294-9e668e3f7dad" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-learningprogram-orchestration-flow",
	"tracePoint": "BEFORE DATALAKE SYS API REQUEST",
	"contentSize": sizeOf(payload) default 0
}]'/>
				<flow-ref doc:name="common-http-request-flow" doc:id="e7a5e9b3-d788-4c2c-af64-f664b62f0bf5" name="common-http-request-flow"/>
				<logger level="INFO" doc:name="End Main Log" doc:id="cb5b1dae-476e-494b-8479-75a1992efcd0" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-learningprogram-orchestration-flow End",
	"status": "Processed successfully..",
	"tracePoint": "END",
	"timestamp": now()
}]'/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Log No Data Found" doc:id="49a296df-7d3d-46f5-8678-7091997c959e" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-learningprogram-orchestration-flow End",
	"status": "No Data",
	"tracePoint": "END",
	"timestamp": now()
}]'/>
			</otherwise>
		</choice>
		<error-handler ref="global-error-handler"/>
	</flow>

	<!-- ==================== PAST WORK DETAILS FLOW ==================== -->
	<flow name="scheduler-darwinbox-pastworkdetails-orchestration-flow" doc:id="8e535521-1b00-4d8f-a189-cb91e2e9cfd2">
		<scheduler doc:name="Job run every one hour" doc:id="2be57c65-28c2-4aa4-9c78-f95a0674e96e">
			<scheduling-strategy>
				<cron expression="${scheduler.frequency}" timeZone="${scheduler.timezone}"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Start Main Log" doc:id="4d8cb9f1-c90a-4ae7-915d-44e65c45fa0d" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-pastworkdetails-orchestration-flow started",
	"tracePoint": "START",
	"timestamp": now()
}]'/>
		<ee:transform doc:name="Darwinbox-Past Work Details HTTP Details" doc:id="39fba02b-5e0d-486b-b165-1d2e095cc991">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="httpDetails"><![CDATA[%dw 2.0
output application/json
---
{
	"host"        : Mule::p('darwinbox-pastworkdetails.host'),
	"port"        : Mule::p('darwinbox-pastworkdetails.port'),
	"basePath"    : Mule::p('darwinbox-pastworkdetails.basePath'),
	"path"        : Mule::p('darwinbox-pastworkdetails.path'),
	"method"      : Mule::p('darwinbox-pastworkdetails.method'),
	"clientId"    : Mule::p('darwinbox-pastworkdetails.clientId'),
	"clientSecret": Mule::p('secure::darwinbox-pastworkdetails.clientSecret'),
	"body"		  : {
	"api_key"	  : Mule::p('darwinbox-pastworkdetails.api_key')
	
	}
}]]></ee:set-variable>
				<ee:set-variable variableName="reportName"><![CDATA["pastWorkDetails"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="common-http-request-flow" doc:id="2437cb56-bdde-4d1b-b782-f73bde327e83" name="common-http-request-flow"/>
		<logger level="INFO" doc:name="After Darwinbox Response Log" doc:id="2f58841b-bc9a-4d42-9925-9d22a3071ba0" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-pastworkdetails-orchestration-flow",
	"tracePoint": "AFTER SYS API REQUEST",
	"contentSize": sizeOf(payload) default 0
}]'/>

		<!-- Filter: zip cols + data arrays (note: key is "data" not "output") into array of JSON objects -->
		<ee:transform doc:name="Filter PastWorkDetails Response" doc:id="627f982d-f0c2-401a-89e1-410a1a96e527">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
do {
    var cols = payload.cols default []
    var rows = payload.data default []
    ---
    if (!isEmpty(cols) and !isEmpty(rows))
        rows map (row, rowIndex) ->
            cols reduce ((col, acc = {} as Object) ->
                acc ++ { (col) : row[cols indexOf col] default null }
            )
    else
        []
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>

		<choice doc:name="Check if PastWorkDetails Data Exists" doc:id="389282af-9eb6-4abf-8351-27743b8ec396">
			<when expression="#[!isEmpty(payload)]">
				<ee:transform doc:name="Databricks PastWorkDetails HTTP Details" doc:id="206d8dd8-b7e2-4784-87d7-3c97e3492751">
					<ee:message/>
					<ee:variables>
						<ee:set-variable variableName="httpDetails"><![CDATA[%dw 2.0
output application/json
---
{
	"host"        : Mule::p('databricks.host'),
	"port"        : Mule::p('databricks.port'),
	"basePath"    : Mule::p('databricks.basePath'),
	"path"        : Mule::p('databricks.path'),
	"method"      : Mule::p('databricks.method'),
	"clientId"    : Mule::p('databricks.clientId'),
	"clientSecret": Mule::p('secure::databricks.clientSecret')
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Before Databricks Upload Log" doc:id="3b3414df-f401-4be4-bc44-7d62424c7679" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-pastworkdetails-orchestration-flow",
	"tracePoint": "BEFORE DATALAKE SYS API REQUEST",
	"contentSize": sizeOf(payload) default 0
}]'/>
				<flow-ref doc:name="common-http-request-flow" doc:id="021f0faa-f270-46d8-b1ee-562252a9d6ab" name="common-http-request-flow"/>
				<logger level="INFO" doc:name="End Main Log" doc:id="b76975a3-5d1e-4392-959e-35faabb07282" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-pastworkdetails-orchestration-flow End",
	"status": "Processed successfully..",
	"tracePoint": "END",
	"timestamp": now()
}]'/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Log No Data Found" doc:id="0b46d5fa-116f-4a01-a4cb-9263783f4f72" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-pastworkdetails-orchestration-flow End",
	"status": "No Data",
	"tracePoint": "END",
	"timestamp": now()
}]'/>
			</otherwise>
		</choice>
		<error-handler ref="global-error-handler"/>
	</flow>

	<!-- ==================== LOP API FLOW ==================== -->
	<!-- NOTE: lopapi response is pending confirmation. Filter extracts emp_daily_attendance array.
	     Update this transform once the actual full response is confirmed. -->
	<flow name="scheduler-darwinbox-lopapi-orchestration-flow" doc:id="9c9ac2f7-0793-4828-81f1-a9d1efd4f680">
		<scheduler doc:name="Job run every one hour" doc:id="69b46cf9-ce6b-49cd-8616-2bcaf64856e1">
			<scheduling-strategy>
				<cron expression="${scheduler.frequency}" timeZone="${scheduler.timezone}"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Start Main Log" doc:id="eae2af53-aa4c-417f-85b8-ed7c7abae4df" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-lopapi-orchestration-flow started",
	"tracePoint": "START",
	"timestamp": now()
}]'/>
		<ee:transform doc:name="Darwinbox-Lop Api HTTP Details" doc:id="a9e0bcba-69ba-44a8-8f6f-ce5725e56416">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="httpDetails"><![CDATA[%dw 2.0
output application/json
---
{
	"host"        : Mule::p('darwinbox-lopapi.host'),
	"port"        : Mule::p('darwinbox-lopapi.port'),
	"basePath"    : Mule::p('darwinbox-lopapi.basePath'),
	"path"        : Mule::p('darwinbox-lopapi.path'),
	"method"      : Mule::p('darwinbox-lopapi.method'),
	"clientId"    : Mule::p('darwinbox-lopapi.clientId'),
	"clientSecret": Mule::p('secure::darwinbox-lopapi.clientSecret'),
	"body"		  : {
	"api_key"	  : Mule::p('darwinbox-lopapi.api_key')
	
	}
}]]></ee:set-variable>
				<ee:set-variable variableName="reportName"><![CDATA["lopApi"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="common-http-request-flow" doc:id="2dd9b287-61a2-48b2-8d5e-be120e69d6a9" name="common-http-request-flow"/>
		<logger level="INFO" doc:name="After Darwinbox Response Log" doc:id="58de141f-f4b6-4b08-b145-62adedf924ff" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-lopapi-orchestration-flow",
	"tracePoint": "AFTER SYS API REQUEST",
	"contentSize": sizeOf(payload) default 0
}]'/>

		<!-- Filter: extract emp_daily_attendance array (pending full response confirmation) -->
		<ee:transform doc:name="Filter LopApi Response" doc:id="1a233cd3-599d-43f5-9f58-55ae93ed24b8">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (payload.emp_daily_attendance? and !isEmpty(payload.emp_daily_attendance))
    payload.emp_daily_attendance
else
    []]]></ee:set-payload>
			</ee:message>
		</ee:transform>

		<choice doc:name="Check if LopApi Data Exists" doc:id="eed47396-5ef2-4150-b9c8-9c376900f0b8">
			<when expression="#[!isEmpty(payload)]">
				<ee:transform doc:name="Databricks LopApi HTTP Details" doc:id="f339ff3b-1b92-4e1b-ad56-9e36b2cab816">
					<ee:message/>
					<ee:variables>
						<ee:set-variable variableName="httpDetails"><![CDATA[%dw 2.0
output application/json
---
{
	"host"        : Mule::p('databricks.host'),
	"port"        : Mule::p('databricks.port'),
	"basePath"    : Mule::p('databricks.basePath'),
	"path"        : Mule::p('databricks.path'),
	"method"      : Mule::p('databricks.method'),
	"clientId"    : Mule::p('databricks.clientId'),
	"clientSecret": Mule::p('secure::databricks.clientSecret')
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Before Databricks Upload Log" doc:id="54224fd1-9244-4cc4-b549-9b729ba5da53" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-lopapi-orchestration-flow",
	"tracePoint": "BEFORE DATALAKE SYS API REQUEST",
	"contentSize": sizeOf(payload) default 0
}]'/>
				<flow-ref doc:name="common-http-request-flow" doc:id="fa007205-3752-462b-b9a3-946cad1d4f1b" name="common-http-request-flow"/>
				<logger level="INFO" doc:name="End Main Log" doc:id="863ddf53-a1ef-4458-bfd5-be8de4101180" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-lopapi-orchestration-flow End",
	"status": "Processed successfully..",
	"tracePoint": "END",
	"timestamp": now()
}]'/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Log No Data Found" doc:id="fe03f292-7c4c-42f7-94ba-5d373c9f4c50" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-lopapi-orchestration-flow End",
	"status": "No Data",
	"tracePoint": "END",
	"timestamp": now()
}]'/>
			</otherwise>
		</choice>
		<error-handler ref="global-error-handler"/>
	</flow>

	<!-- ==================== EMPLOYEE HISTORY FLOW ==================== -->
	<flow name="scheduler-darwinbox-employeehistory-orchestration-flow" doc:id="3bcf9ed0-8a0f-42dc-ae3e-422af1664a8f">
		<scheduler doc:name="Job run every one hour" doc:id="917a526c-e4d2-4613-9361-6648e487b98c">
			<scheduling-strategy>
				<cron expression="${scheduler.frequency}" timeZone="${scheduler.timezone}"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Start Main Log" doc:id="b60c05f7-6b90-48cd-99f8-ae1b71a38002" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-employeehistory-orchestration-flow started",
	"tracePoint": "START",
	"timestamp": now()
}]'/>
		<try doc:name="Try" doc:id="5d249d21-6589-4d1f-b22c-0eac1b50a692">
				<os:retrieve doc:name="Retrieve Last Processed Timestamp" doc:id="cb4acf20-ab02-4d2f-8c78-1f1e0b5b6128" key="lastProcessedTimeStamp" objectStore="Watermark_Object_Store" target="lastProcessedTimeStamp">
					<os:default-value><![CDATA[#[null]]]></os:default-value>
				</os:retrieve>
				<error-handler>
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="f5076a14-f398-4243-9e88-736dd2645fc9">
						<set-variable value="#[null]" doc:name="Set Variable" doc:id="27bf7f1d-bfde-4613-9ba8-469497378430" variableName="lastProcessedTimeStamp" />
					</on-error-continue>
				</error-handler>
			</try>
		<ee:transform doc:name="Darwinbox-Employee History HTTP Details" doc:id="8a3325b4-b94a-4eb6-934a-6ec603a3e4a6">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="httpDetails"><![CDATA[%dw 2.0
output application/json
---
{
	"host"        : Mule::p('darwinbox-employeehistory.host'),
	"port"        : Mule::p('darwinbox-employeehistory.port'),
	"basePath"    : Mule::p('darwinbox-employeehistory.basePath'),
	"path"        : Mule::p('darwinbox-employeehistory.path'),
	"method"      : Mule::p('darwinbox-employeehistory.method'),
	"clientId"    : Mule::p('darwinbox-employeehistory.clientId'),
	"clientSecret": Mule::p('secure::darwinbox-employeehistory.clientSecret'),
	"body"	  : {
	"api_key"	  : Mule::p('darwinbox-employeehistory.api_key')

	}	
}]]></ee:set-variable>
				<ee:set-variable variableName="reportName"><![CDATA["employeeHistory"]]></ee:set-variable>
				<ee:set-variable variableName="date" ><![CDATA[%dw 2.0
output application/json

---
if (vars.lastProcessedTimeStamp == null)
{"start_date" : "1990-01-01" , 
"end_date" : now() as Date }
else
{"start_date" : vars.lastProcessedTimeStamp , 
"end_date" : now() as Date }]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="common-http-request-flow" doc:id="8a3cf552-3b3a-414e-b2e8-6160cef63495" name="common-http-request-flow"/>
		<logger level="INFO" doc:name="After Darwinbox Response Log" doc:id="80a30d12-6923-4554-a624-dc1c0c861bba" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-employeehistory-orchestration-flow",
	"tracePoint": "AFTER SYS API REQUEST",
	"contentSize": sizeOf(payload) default 0
}]'/>

		<!-- Filter: extract data array only (response uses "data" not "employee_data") -->
		<ee:transform doc:name="Filter EmployeeHistory Response" doc:id="e0720fee-1862-46e1-bccd-693a6d98c2b0">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (payload.data? and !isEmpty(payload.data))
    payload.data
else
    []]]></ee:set-payload>
			</ee:message>
		</ee:transform>

		<choice doc:name="Check if EmployeeHistory Data Exists" doc:id="58bea905-1a4f-48c7-ab1b-cad381b55f2b">
			<when expression="#[!isEmpty(payload)]">
				<ee:transform doc:name="Databricks EmployeeHistory HTTP Details" doc:id="0f82a6cc-f00a-4b09-a37f-f6177f75a400">
					<ee:message/>
					<ee:variables>
						<ee:set-variable variableName="httpDetails"><![CDATA[%dw 2.0
output application/json
---
{
	"host"        : Mule::p('databricks.host'),
	"port"        : Mule::p('databricks.port'),
	"basePath"    : Mule::p('databricks.basePath'),
	"path"        : Mule::p('databricks.path'),
	"method"      : Mule::p('databricks.method'),
	"clientId"    : Mule::p('databricks.clientId'),
	"clientSecret": Mule::p('secure::databricks.clientSecret')
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Before Databricks Upload Log" doc:id="172877e8-f337-446e-b915-37c0fbd9abdb" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-employeehistory-orchestration-flow",
	"tracePoint": "BEFORE DATALAKE SYS API REQUEST",
	"contentSize": sizeOf(payload) default 0
}]'/>
				<flow-ref doc:name="common-http-request-flow" doc:id="00269915-301a-4780-a50d-0b2b99a70f10" name="common-http-request-flow"/>
				<os:store doc:name="Update Watermark After Successful Processing" doc:id="6077d59e-8b93-4ba3-9975-b40cee6d077e" key="lastProcessedTimeStamp" objectStore="Watermark_Object_Store">
					<os:value><![CDATA[#[now() as Date]]]></os:value>
				</os:store>
				<logger level="INFO" doc:name="End Main Log" doc:id="8c14d6d5-f5dd-473b-8249-0805a6e4ac5e" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-employeehistory-orchestration-flow End",
	"status": "Processed successfully..",
	"tracePoint": "END",
	"timestamp": now()
}]'/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Log No Data Found" doc:id="98b45d62-e24c-4516-92df-f6e0efe7cdaa" message='#[output application/json
---
{
	"flowName": "scheduler-darwinbox-employeehistory-orchestration-flow End",
	"status": "No Data",
	"tracePoint": "END",
	"timestamp": now()
}]'/>
			</otherwise>
		</choice>
		<error-handler ref="global-error-handler"/>
	</flow>

</mule>